button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

h2 {
  font-family: sans-serif;
}

Body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
